html, body {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(8, 8, 151), rgb(0, 255, 234));
}

header h1 {
  margin: 0;
  background-color: red;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
}